# Data Cleaning Functions

In [1]:
# Library Imports
import pandas as pd
import numpy as np


# Function Imports
import identify_mixed_column_types as identify_mixed_cols
import identify_drop_outliers
import whitespace_management
import cleaning_headers
import cleaning_datetime

In [2]:
# Create some data for testing

df = pd.DataFrame({'value1':[1,1,6,13,13,14,14,14,15,15,16,18,18,18,19],
                   'value2':[20,20,21,22,23,24,24,24,25,25,26,28,28,28,'O'],
                   'value3':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'],
                   'value4':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'],
                   'value5':['2022-04-12','2022-04-12','2022-04-12','2022-04-12','2022-04-12',
                             '2022-04-12','2022-04-12','2022-04-12','2022-04-12','2022-04-12',
                             '2022-04-12','2022-04-12','2022-04-12','2022-04-12','2022-04-12'],
                   'value6':['A1','B2','C3','D4',' E5','F6','G7','H8','I9','J10 ','K11','L12','M13','N14',' O15 '],
                  })
df['value5'] = pd.to_datetime(df['value5'] )
df

    value1 value2 value3 value4     value5 value6
0        1     20      A      A 2022-04-12     A1
1        1     20      B      B 2022-04-12     B2
2        6     21      C      C 2022-04-12     C3
3       13     22      D      D 2022-04-12     D4
4       13     23      E      E 2022-04-12     E5
5       14     24      F      F 2022-04-12     F6
6       14     24      G      G 2022-04-12     G7
7       14     24      H      H 2022-04-12     H8
8       15     25      I      I 2022-04-12     I9
9       15     25      J      J 2022-04-12   J10
10      16     26      K      K 2022-04-12    K11
11      18     28      L      L 2022-04-12    L12
12      18     28      M      M 2022-04-12    M13
13      18     28      N      N 2022-04-12    N14
14      19      O      O      O 2022-04-12   O15

### Identify Mixed Column Types

A useful check to see if any columns in your dataframe have more than one data type.

In [3]:
has_multi_type_columns = identify_mixed_cols.has_multi_types_within_col(df)
multi_types = identify_mixed_cols.get_column_data_types(df)
 
print(has_multi_type_columns)
print(multi_types)

True
{'value2': [<class 'int'>, <class 'str'>]}

<hr>

### Identify and Drop Outliers

Uses the Interquartile Range (IQR) method to identify and drop outliers.

In [4]:
no_outliers = identify_drop_outliers.drop_outliers(df=df, verbose=False)

No columns specified. Attempting to remove outliers from all columns.
Not processing 4 non-numeric columns: ['value2', 'value3', 'value4', 'value6'].
Original Dataframe Shape:  (15, 6)
New Dataframe Shape:  (13, 6)

<hr>

### Remove Leading and Trailing Whitespace

In [5]:
df1 = whitespace_management.remove_whitespace(df)
df1

    value1 value2 value3 value4     value5 value6
0        1     20      A      A 2022-04-12     A1
1        1     20      B      B 2022-04-12     B2
2        6     21      C      C 2022-04-12     C3
3       13     22      D      D 2022-04-12     D4
4       13     23      E      E 2022-04-12     E5
5       14     24      F      F 2022-04-12     F6
6       14     24      G      G 2022-04-12     G7
7       14     24      H      H 2022-04-12     H8
8       15     25      I      I 2022-04-12     I9
9       15     25      J      J 2022-04-12    J10
10      16     26      K      K 2022-04-12    K11
11      18     28      L      L 2022-04-12    L12
12      18     28      M      M 2022-04-12    M13
13      18     28      N      N 2022-04-12    N14
14      19      O      O      O 2022-04-12    O15

<hr>

### Clean Column Headers and Declare Casing

In [91]:
# Example
data = {"Drill_Depth_#Inches":[6.78, 8.63, 4.56, 7.72],
        "Drill_Angle_@Site":[112.45, 88.87, 92.12, 105.99],
        "Date|Time":["2021-07-07 11:33", "2021-07-07 11:47", "2021-07-07 11:52", "2021-07-07 11:59"],
        "City,State":["Wichita,KS", "Wichita,KS", "Wichita,KS", "Wichita,KS"],
        "Job_Site(Status)":["197A(Completed)", "197B(Completed)", "186C(Pending)", "186D(Pending)"],
        "Company<Status>":["Acme<Active>", "Acme<Active>", "Acme<Active>", "Acme<Active>"],
        "Company Code":["0097","0097","0097","0097"],
        "test.department.code":[27,27,27,27],
        "ðŸ”¥":["","","",""]}
df = pd.DataFrame(data)

df1 = cleaning_headers.clean_headers(df, target_case="pascal")

<hr>

### Converting Date Columns to Date Types

In [141]:
# Create some data for testing

df = pd.DataFrame({
    'value1':['04/12/2020','04/12/2020','04/12/2020','04/12/2020','04/12/2020'],
    'value2':['04-12-2020','04-12-2020','04-12-2020','04-12-2020','04-12-2020'],
    'value3':['2022-04-12 09:12:04','2022-04-12 00:00:00','2022-04-12 00:00:00',
              '2022-04-12 00:00:00','2022-04-12 00:00:00'],
    'value4':['2022-04-12 00:00:00','2022-04-12 00:00:00','2022-04-12 00:00:00',
              '2022-04-12 00:00:00','2022-04-12 00:00:00'],
    'value5':['2022-04-25T05:28:14+00:00','2022-04-25T05:28:14+00:00',
              '2022-04-25T05:28:14+00:00','2022-04-25T05:28:14+00:00',
              '2022-04-25T05:28:14+00:00'],
    'value6':[1650922967, 1650922967, 1650922967, 1650922967, 1650922967],
    'value7':[1349720105, 1349720105, 1349720105, 1349720105, 1349720105]
                  })
print(d)
df

,value1,value2,value3,value4,value5,value6,value7,value8
0,04/12/2020,04-12-2020,04122020,2022-04-12 09:12:04,2022-04-12 00:00:00,2022-04-25T05:28:14+00:00,1650922967,1349720105
1,04/12/2020,04-12-2020,04122020,2022-04-12 00:00:00,2022-04-12 00:00:00,2022-04-25T05:28:14+00:00,1650922967,1349720105
2,04/12/2020,04-12-2020,04122020,2022-04-12 00:00:00,2022-04-12 00:00:00,2022-04-25T05:28:14+00:00,1650922967,1349720105
3,04/12/2020,04-12-2020,04122020,2022-04-12 00:00:00,2022-04-12 00:00:00,2022-04-25T05:28:14+00:00,1650922967,1349720105
4,04/12/2020,04-12-2020,04122020,2022-04-12 00:00:00,2022-04-12 00:00:00,2022-04-25T05:28:14+00:00,1650922967,1349720105

In [143]:
df2 = cleaning_datetime.cols_to_datetime(df=df, 
                       date_time_columns=['value1','value2','value3','value4', 'value5'], 
                       unix_epoch_columns=['value6', 'value7'])

In [144]:
df2.head(2)

,value1,value2,value3,value4,value5,value6,value7,value8
0,2020-04-12,2020-04-12,04122020,2022-04-12 09:12:04,2022-04-12,2022-04-25 05:28:14+00:00,2022-04-25 21:42:47,2012-10-08 18:15:05
1,2020-04-12,2020-04-12,04122020,2022-04-12 00:00:00,2022-04-12,2022-04-25 05:28:14+00:00,2022-04-25 21:42:47,2012-10-08 18:15:05

In [145]:
df2.dtypes

value1         datetime64[ns]
value2         datetime64[ns]
value3                 object
value4         datetime64[ns]
value5         datetime64[ns]
value6    datetime64[ns, UTC]
value7         datetime64[ns]
value8         datetime64[ns]
dtype: object