# Data Cleaning Functions

In [1]:
# Library Imports
import pandas as pd
import numpy as np


# Function Imports
import identify_mixed_column_types as identify_mixed_cols
import identify_drop_outliers

In [2]:
# Create some data for testing

df = pd.DataFrame({'value1':[1,1,6,13,13,14,14,14,15,15,16,18,18,18,19],
                   'value2':[20,20,21,22,23,24,24,24,25,25,26,28,28,28,'O'],
                   'value3':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'],
                   'value4':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'],
                   'value5':['2022-04-12','2022-04-12','2022-04-12','2022-04-12','2022-04-12',
                             '2022-04-12','2022-04-12','2022-04-12','2022-04-12','2022-04-12',
                             '2022-04-12','2022-04-12','2022-04-12','2022-04-12','2022-04-12'],
                  })
df['value5'] = pd.to_datetime(df['value5'] )
df

    value1 value2 value3 value4     value5
0        1     20      A      A 2022-04-12
1        1     20      B      B 2022-04-12
2        6     21      C      C 2022-04-12
3       13     22      D      D 2022-04-12
4       13     23      E      E 2022-04-12
5       14     24      F      F 2022-04-12
6       14     24      G      G 2022-04-12
7       14     24      H      H 2022-04-12
8       15     25      I      I 2022-04-12
9       15     25      J      J 2022-04-12
10      16     26      K      K 2022-04-12
11      18     28      L      L 2022-04-12
12      18     28      M      M 2022-04-12
13      18     28      N      N 2022-04-12
14      19      O      O      O 2022-04-12

### Identify Mixed Column Types

A useful check to see if any columns in your dataframe have more than one data type.

In [3]:
has_multi_type_columns = identify_mixed_cols.has_multi_types_within_col(df)
multi_types = identify_mixed_cols.get_column_data_types(df)
 
print(has_multi_type_columns)
print(multi_types)

True
{'value2': [<class 'int'>, <class 'str'>]}

<hr>

### Identify and Drop Outliers

Uses the Interquartile Range (IQR) method to identify and drop outliers.

In [4]:
no_outliers = identify_drop_outliers.drop_outliers(df=df, verbose=False)

No columns specified. Attempting to remove outliers from all columns.
Not processing 3 non-numeric columns: ['value2', 'value3', 'value4'].
Original Dataframe Shape:  (15, 5)
New Dataframe Shape:  (13, 5)